.headerNavlist
  display: flex
  flex-flow: row wrap
  justify-content: center
  list-style: none

  li a
    display: inline-block
    padding: 10px 20px
    text-decoration: none

    color: #0366d6
    outline: 1px solid rgba(0, 60, 84, 0.00)


    transition: 0.3s ease-out
    transition-property: color, outline

    &:hover
      color: #004ea1
      outline: 1px solid rgba(0, 60, 84, 0.2)
