$whiteColor: #007bff
$blueColor: #1861ac
$blueHoverColor: #0069d9

.buttonLink
  display: inline-block

  text-decoration: none
  cursor: pointer

  font-size: 1rem

  padding: 7px 10px

  border-width: 1px
  border-style: solid
  border-radius: 5px

  transition: 0.3s ease-out
  transition-property: color, background-color, border-color

.buttonLink + .buttonLink
  margin-left: 10px
  margin-top: 10px

.buttonLinkWhite
  border-color: $whiteColor
  color: $whiteColor
  background-color: white
  &:disabled:hover
    color: $whiteColor
    background-color: white
  &:hover
    background-color: $whiteColor
    color: white

.buttonLinkBlue
  border-color: $blueColor
  color: white
  background-color: $blueColor
  &:disabled:hover
    color: white
    background-color: $blueColor
  &:hover
    background-color: $blueHoverColor
    border-color: $blueHoverColor
    color: white
