.App {
  display: flex;
  flex-flow: wrap column;
  min-height: 150vh;

  text-align: center;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogo-spin infinite 5s linear;
  }
}

.AppMain {
  background-color: #282c34;
  /* min-height: 100vh; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: stretch;
  &>div {
    margin-top: 15vmin;
  }
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppLink {
  color: #61dafb;
}

@keyframes AppLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
