:root {
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:after{
  content: "beta";

  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  line-height: 27px;
  
  position: absolute;
  width: 80px;
  height: 25px;
  top: 7px;
  left: -20px;
  z-index: 10;
  
  /* background: #EE8E4A; */
  background: #ee554a;
  outline: 1px double white;
  outline-offset: -2px;
  transform:rotate(-45deg);
}

#root {
  background-color: #f9f9f9;
  color: #212529;
  transition-duration:  0.2s;
  transition-property: background-color, color;
}

#main-header {
  background-color: white;
  color: #212529;
}

.theme-button {
  background-color: transparent;
  width: 60px;
  border: 1px solid black;
  border-radius: 45%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  color: #007bff;
}
