:root {
  font-size: 16px;
  fint-weight: 400px;
}

* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

.flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-column {
  flex-direction: column;
}

.f-rowrev {
  flex-direction: row-reverse;
}

.f-columnrev {
  flex-direction: column-reverse;
}

.just-center {
  justify-content: center;
}

.just-evenly {
  justify-content: space-evenly;
}

.just-between {
  justify-content: space-between;
}

.just-around {
  justify-content: space-around;
}

.alcont-center {
  align-content: center;
}

.alit-cneter {
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
